*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-pt: 'PT Serif', serif;
    --ff-sans: 'Source Sans Pro', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-bg: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgb(0, 0, 0, .55), 0.125em 0.125em 0.25em rgb(0, 0, 0, .25);
}

@media (win-width: 800px){
    :root {
        --fs-h1: 4rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.25rem;
    }
}


body {
    background: var(--clr-bg);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-pt);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {font-weight: var(--fw-bold)}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1)}
h2 { font-size: var(--fs-h2)}
h3 { font-size: var(--fs-h3)}

.intro_title {
    font-weight: var(--fw-reg);
    margin-bottom: .25em;
}

.intro_subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.about_subtitle,
.intro_subtitle {
    background: var(--clr-accent);
    font-family: var(--ff-sans);
    margin-bottom: 1em;
    padding: .25em 1em;
}

nav {display: none;}

/* intro */

.intro {
    position: relative
}

.portrait_img {
    box-shadow: var(--bs);
}

@media (min-width: 600px){
    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .portrait_img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .intro_subtitle {
        align-self: start;
        grid-column: -1/ 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

.about_me{
    max-width: 1000px;
    margin: 0 auto;
}

.about_me_img{
    box-shadow: var(--bs);
}

@media (min-width: 600px){
    .about_me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .about_title{
        grid-area: title;
    }

    .about_subtitle{
        grid-column: 1/ -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about_me_img{
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

.my_projects{
    background-color: var(--clr-dark);
    color: var(--clr-bg);
    text-align: center;
}

.about_subtitle{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio_item{
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio_image{
    transition: transform 750ms cubic-bezier(.5,0,.5,1),
    opacity 250ms linear;
}

.portfolio_item:focus{
    position: relative;
    z-index: 2;
}

.portfolio_image:hover,
.portfolio_item:focus .portfolio_image{
    transform: scale(1.2);
    opacity: .8;
}









